version: '3'
services:
  node:
    container_name: rabbitmq_hello_world
    image: node:20.9.0-alpine3.18
    volumes:
      - ./:/app
    working_dir: /app
    ports:
      - 5174:3000
    command: >
      sh -c "npm install && npm run dev"
    restart: always

networks:
  default:
      name: rabbitmq_net
      external: true